{  Button: {
        color: "#aa0000"
    },
 
    RadioButton: {
        color: "#00aa00"
    },
 
    "org.apache.pivot.wtk.PushButton": {
        color: "#0000aa"
    },
 
    heading: {
        font: {
            size: "120%",
            bold: true
        },
 
        color: "#000000"
    },
 
    subHeading: {
        font: {
            size: "110%",
            italic: true
        },
 
        color: "#666666"
    }
}